### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline

1) Create a new Jupyter notebook and write the script to open the file into a data frame called
datHousing. Run any necessary EDA to make sure that everything looks reasonable.

In [2]:
datHousing = pd.read_csv(r"C:\Users\dhiru\Housing.csv")

In [3]:
datHousing.head()

,CRIM,ZN,INDUS,RIVER,NOX,RM,AGE,DIS,RAD,TAX,PRATIO,LSTAT,MEDV
0,3.32105,0.0,19.58,Yes,0.871,5.403,100.0,1.3216,5,403,14.7,26.82,13.4
1,1.12658,0.0,19.58,Yes,0.871,5.012,88.0,1.6102,5,403,14.7,12.12,15.3
2,1.41385,0.0,19.58,Yes,0.871,6.129,96.0,1.7494,5,403,14.7,15.12,17.0
3,3.53501,0.0,19.58,Yes,0.871,6.152,82.6,1.7455,5,403,14.7,15.02,15.6
4,1.27346,0.0,19.58,Yes,0.605,6.250,92.6,1.7984,5,403,14.7,5.50,27.0

In [4]:
datHousing.rename(columns=lambda x:x.lower(),inplace=True)

In [5]:
datHousing.describe()

,crim,zn,indus,nox,rm,age,dis,rad,tax,pratio,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,12.653063,22.532806
std,8.601545,23.322453,6.860353,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,7.141062,9.197104
min,0.006320,0.000000,0.460000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,1.730000,5.000000
25%,0.082045,0.000000,5.190000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,6.950000,17.025000
50%,0.256510,0.000000,9.690000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,11.360000,21.200000
75%,3.677082,12.500000,18.100000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,16.955000,25.000000
max,88.976200,100.000000,27.740000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,37.970000,50.000000

2) Create a dummy variable for RIVER called RIVERCODE where No is coded as 0 and Yes is coded as 1.
Look at the mean value for RIVERCODE to verify. It should be 0.069.

In [6]:
datHousing['rivercode']=datHousing.river.map({'No':0, 'Yes':1})
###datHousing.drop(['river'], inplace = True, axis =1)

In [7]:
datHousing.head()

,crim,zn,indus,river,nox,rm,age,dis,rad,tax,pratio,lstat,medv,rivercode
0,3.32105,0.0,19.58,Yes,0.871,5.403,100.0,1.3216,5,403,14.7,26.82,13.4,1
1,1.12658,0.0,19.58,Yes,0.871,5.012,88.0,1.6102,5,403,14.7,12.12,15.3,1
2,1.41385,0.0,19.58,Yes,0.871,6.129,96.0,1.7494,5,403,14.7,15.12,17.0,1
3,3.53501,0.0,19.58,Yes,0.871,6.152,82.6,1.7455,5,403,14.7,15.02,15.6,1
4,1.27346,0.0,19.58,Yes,0.605,6.250,92.6,1.7984,5,403,14.7,5.50,27.0,1

In [8]:
datHousing['rivercode'].mean()

0.0691699604743083

3) Create a regression model predicting MEDV using all of the other numeric predictors. Remember to
use RIVERCODE instead of RIVER. This is your baseline model. What is the R
2
value for this model?
The Mean Squared Error?

In [9]:
numerical_features=['crim','zn','indus','nox','rm','age','dis','rad','tax','pratio','lstat','medv','rivercode']

In [10]:
X = datHousing.drop(['river','medv'], axis=1)
y = datHousing['medv']

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=123)

In [12]:
# 1. Import the Estimator class you will use
from sklearn.linear_model import LinearRegression
# 2. Create an instance of the class
ml_reg = LinearRegression()
# 3. Use the fit method of the instance
ml_reg.fit(X_train, y_train)
# 4. Use the predict method to get the predictions
y_pred_ml_reg = ml_reg.predict(X_train)

In [13]:
pd.Series(ml_reg.coef_, index=X_train.columns).sort_values(ascending=False).round(2)

rm            3.96
rivercode     1.41
rad           0.26
zn            0.05
indus         0.01
age           0.00
tax          -0.01
crim         -0.10
lstat        -0.47
pratio       -1.00
dis          -1.39
nox         -17.52
dtype: float64

In [14]:
from sklearn.metrics import mean_squared_error, r2_score
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(y_train, y_pred_ml_reg))

Mean squared error: 19.44

In [15]:
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(y_train, y_pred_ml_reg))

Variance score: 0.76

In [16]:
ml_reg.intercept_

39.82602376501103

4) Create a data frame called datHousingSub for clustering by generating a subset with all columns
except for RIVER (keep RIVERCODE) and MEDV. We want to exclude MEDV from the clustering since
this is the value that we will try to predict later from the clusters. Do a summary on the subset to
verify.

In [17]:
datHousingSub = datHousing.drop(['river','medv'], axis=1)

In [18]:
datHousingSub.head

<bound method NDFrame.head of          crim    zn  indus     nox     rm    age     dis  rad  tax  pratio  \
0     3.32105   0.0  19.58  0.8710  5.403  100.0  1.3216    5  403    14.7
1     1.12658   0.0  19.58  0.8710  5.012   88.0  1.6102    5  403    14.7
2     1.41385   0.0  19.58  0.8710  6.129   96.0  1.7494    5  403    14.7
3     3.53501   0.0  19.58  0.8710  6.152   82.6  1.7455    5  403    14.7
4     1.27346   0.0  19.58  0.6050  6.250   92.6  1.7984    5  403    14.7
5     1.83377   0.0  19.58  0.6050  7.802   98.2  2.0407    5  403    14.7
6     1.51902   0.0  19.58  0.6050  8.375   93.9  2.1620    5  403    14.7
7     0.13587   0.0  10.59  0.4890  6.064   59.1  4.2392    4  277    18.6
8     0.43571   0.0  10.59  0.4890  5.344  100.0  3.8750    4  277    18.6
9     0.17446   0.0  10.59  0.4890  5.960   92.1  3.8771    4  277    18.6
10    0.37578   0.0  10.59  0.4890  5.404   88.6  3.6650    4  277    18.6
11    0.21719   0.0  10.59  0.4890  5.807   53.8  3.6526    4  277    18.6
12    0.04560   0.0  13.89  0.5500  5.888   56.0  3.1121    5  276    16.4
13    0.11069   0.0  13.89  0.5500  5.951   93.8  2.8893    5  276    16.4
14    0.11425   0.0  13.89  0.5500  6.373   92.4  3.3633    5  276    16.4
15    0.35809   0.0   6.20  0.5070  6.951   88.5  2.8617    8  307    17.4
16    0.40771   0.0   6.20  0.5070  6.164   91.3  3.0480    8  307    17.4
17    0.62356   0.0   6.20  0.5070  6.879   77.7  3.2721    8  307    17.4
18    0.44791   0.0   6.20  0.5070  6.726   66.5  3.6519    8  307    17.4
19    0.52058   0.0   6.20  0.5070  6.631   76.5  4.1480    8  307    17.4
20    0.09065  20.0   6.96  0.4640  5.920   61.5  3.9175    3  223    18.6
21    0.22188  20.0   6.96  0.4640  7.691   51.8  4.3665    3  223    18.6
22    0.05644  40.0   6.41  0.4470  6.758   32.9  4.0776    4  254    17.6
23    0.10469  40.0   6.41  0.4470  7.267   49.0  4.7872    4  254    17.6
24    0.06127  40.0   6.41  0.4470  6.826   27.6  4.8628    4  254    17.6
25    0.06129  20.0   3.33  0.4429  7.645   49.7  5.2119    5  216    14.9
26    0.01501  90.0   1.21  0.4010  7.923   24.8  5.8850    1  198    13.6
27    8.98296   0.0  18.10  0.7700  6.212   97.4  2.1222   24  666    20.2
28    3.84970   0.0  18.10  0.7700  6.395   91.0  2.5052   24  666    20.2
29    5.20177   0.0  18.10  0.7700  6.127   83.4  2.7227   24  666    20.2
..        ...   ...    ...     ...    ...    ...     ...  ...  ...     ...
476   4.87141   0.0  18.10  0.6140  6.484   93.6  2.3053   24  666    20.2
477  15.02340   0.0  18.10  0.6140  5.304   97.3  2.1007   24  666    20.2
478  10.23300   0.0  18.10  0.6140  6.185   96.7  2.1705   24  666    20.2
479  14.33370   0.0  18.10  0.6140  6.229   88.0  1.9512   24  666    20.2
480   5.82401   0.0  18.10  0.5320  6.242   64.7  3.4242   24  666    20.2
481   5.70818   0.0  18.10  0.5320  6.750   74.9  3.3317   24  666    20.2
482   5.73116   0.0  18.10  0.5320  7.061   77.0  3.4106   24  666    20.2
483   2.81838   0.0  18.10  0.5320  5.762   40.3  4.0983   24  666    20.2
484   2.37857   0.0  18.10  0.5830  5.871   41.9  3.7240   24  666    20.2
485   3.67367   0.0  18.10  0.5830  6.312   51.9  3.9917   24  666    20.2
486   5.69175   0.0  18.10  0.5830  6.114   79.8  3.5459   24  666    20.2
487   4.83567   0.0  18.10  0.5830  5.905   53.2  3.1523   24  666    20.2
488   0.15086   0.0  27.74  0.6090  5.454   92.7  1.8209    4  711    20.1
489   0.18337   0.0  27.74  0.6090  5.414   98.3  1.7554    4  711    20.1
490   0.20746   0.0  27.74  0.6090  5.093   98.0  1.8226    4  711    20.1
491   0.10574   0.0  27.74  0.6090  5.983   98.8  1.8681    4  711    20.1
492   0.11132   0.0  27.74  0.6090  5.983   83.5  2.1099    4  711    20.1
493   0.17331   0.0   9.69  0.5850  5.707   54.0  2.3817    6  391    19.2
494   0.27957   0.0   9.69  0.5850  5.926   42.6  2.3817    6  391    19.2
495   0.17899   0.0   9.69  0.5850  5.670   28.8  2.7986    6  391    19.2
496   0.28960   0.0   9.69  0.5850  5.390   72.9  2.7986    6  391    19.2
497   0.26838   0.0   9.69  0.5850  5.794   70.6  2.8927    6  391    19.2
498   0.23912   0.0   9.69  0.5850  6.019   65.3  2.4091    6  391    19.2
499   0.17783   0.0   9.69  0.5850  5.569   73.5  2.3999    6  391    19.2
500   0.22438   0.0   9.69  0.5850  6.027   79.7  2.4982    6  391    19.2
501   0.06263   0.0  11.93  0.5730  6.593   69.1  2.4786    1  273    21.0
502   0.04527   0.0  11.93  0.5730  6.120   76.7  2.2875    1  273    21.0
503   0.06076   0.0  11.93  0.5730  6.976   91.0  2.1675    1  273    21.0
504   0.10959   0.0  11.93  0.5730  6.794   89.3  2.3889    1  273    21.0
505   0.04741   0.0  11.93  0.5730  6.030   80.8  2.5050    1  273    21.0

     lstat  rivercode
0    26.82          1
1    12.12          1
2    15.12          1
3    15.02          1
4     5.50          1
5     1.92          1
6     3.32          1
7    14.66          1
8    23.09          1
9    17.27          1
10   23.98          1
11   16.03          1
12   13.51          1
13   17.92          1
14   10.50          1
15    9.71          1
16   21.46          1
17    9.93          1
18    8.05          1
19    9.54          1
20   13.65          1
21    6.58          1
22    3.53          1
23    6.05          1
24    4.16          1
25    3.01          1
26    3.16          1
27   17.60          1
28   13.27          1
29   11.48          1
..     ...        ...
476  18.68          0
477  24.91          0
478  18.03          0
479  13.11          0
480  10.74          0
481   7.74          0
482   7.01          0
483  10.42          0
484  13.34          0
485  10.58          0
486  14.98          0
487  11.45          0
488  18.06          0
489  23.97          0
490  29.68          0
491  18.07          0
492  13.35          0
493  12.01          0
494  13.59          0
495  17.60          0
496  21.14          0
497  14.10          0
498  12.92          0
499  15.10          0
500  14.33          0
501   9.67          0
502   9.08          0
503   5.64          0
504   6.48          0
505   7.88          0

[506 rows x 12 columns]>

In [19]:
datHousingSub.describe()

,crim,zn,indus,nox,rm,age,dis,rad,tax,pratio,lstat,rivercode
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,3.613524,11.363636,11.136779,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,12.653063,0.069170
std,8.601545,23.322453,6.860353,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,7.141062,0.253994
min,0.006320,0.000000,0.460000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,1.730000,0.000000
25%,0.082045,0.000000,5.190000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,6.950000,0.000000
50%,0.256510,0.000000,9.690000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,11.360000,0.000000
75%,3.677082,12.500000,18.100000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,16.955000,0.000000
max,88.976200,100.000000,27.740000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,37.970000,1.000000

5) Using the kmeans algorithm, create a model with 2 clusters on the datHousingSub data frame.
Report the center values for each cluster and the sizes of each cluster. Using the characteristics that
are especially divergent between the two clusters, what would you name these clusters?

In [20]:
# Using scikit-learn to perform K-Means clustering
from sklearn.cluster import KMeans
    
# Specify the number of clusters (2) and fit the data dat_rider_feats
kmeans = KMeans(n_clusters=2, random_state=0).fit(datHousingSub)

In [21]:
centroids = (kmeans.cluster_centers_)
print(centroids)

[[3.88774444e-01 1.55826558e+01 8.42089431e+00 5.11847425e-01
  6.38800542e+00 6.06322493e+01 4.44127154e+00 4.45528455e+00
  3.11926829e+02 1.78092141e+01 1.04174526e+01 7.31707317e-02]
 [1.22991617e+01 3.01980663e-14 1.84518248e+01 6.70102190e-01
  6.00621168e+00 8.99678832e+01 2.05447007e+00 2.32700730e+01
  6.67642336e+02 2.01963504e+01 1.86745255e+01 5.83941606e-02]]

Using the characteristics that are divergent we can name these two clusters as High Crime and Low Crime Clusters.

In [22]:
labels = (kmeans.labels_)
print(labels)

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0]

In [23]:
df_labels = pd.DataFrame(labels)
df_labels.rename(columns={0:'Cluster'}, inplace=True)

In [24]:
df_labels.head()

   Cluster
0        0
1        0
2        0
3        0
4        0

In [25]:
dat_housing_Clust = pd.concat([datHousing, df_labels], axis=1)

In [26]:
dat_housing_Clust.head()

,crim,zn,indus,river,nox,rm,age,dis,rad,tax,pratio,lstat,medv,rivercode,Cluster
0,3.32105,0.0,19.58,Yes,0.871,5.403,100.0,1.3216,5,403,14.7,26.82,13.4,1,0
1,1.12658,0.0,19.58,Yes,0.871,5.012,88.0,1.6102,5,403,14.7,12.12,15.3,1,0
2,1.41385,0.0,19.58,Yes,0.871,6.129,96.0,1.7494,5,403,14.7,15.12,17.0,1,0
3,3.53501,0.0,19.58,Yes,0.871,6.152,82.6,1.7455,5,403,14.7,15.02,15.6,1,0
4,1.27346,0.0,19.58,Yes,0.605,6.250,92.6,1.7984,5,403,14.7,5.50,27.0,1,0

8) Create a new data frame called datHousingC1 which contains all of the rows from datHousing in
cluster 1. Look at the first few rows of data to verify. Check the Cluster column to make sure that it
only stores the value of 1

In [27]:
datHousingC1 = dat_housing_Clust.loc[dat_housing_Clust['Cluster']==0]

In [28]:
datHousingC1.head()

,crim,zn,indus,river,nox,rm,age,dis,rad,tax,pratio,lstat,medv,rivercode,Cluster
0,3.32105,0.0,19.58,Yes,0.871,5.403,100.0,1.3216,5,403,14.7,26.82,13.4,1,0
1,1.12658,0.0,19.58,Yes,0.871,5.012,88.0,1.6102,5,403,14.7,12.12,15.3,1,0
2,1.41385,0.0,19.58,Yes,0.871,6.129,96.0,1.7494,5,403,14.7,15.12,17.0,1,0
3,3.53501,0.0,19.58,Yes,0.871,6.152,82.6,1.7455,5,403,14.7,15.02,15.6,1,0
4,1.27346,0.0,19.58,Yes,0.605,6.250,92.6,1.7984,5,403,14.7,5.50,27.0,1,0

9) Create a new data frame called datHousingC2 which contains all of the rows from datHousing in
cluster 2. Use summary to verify the results. Check the Cluster column to make sure that it only
stores the value of 2

In [29]:
datHousingC2 = dat_housing_Clust.loc[dat_housing_Clust['Cluster']==1]

In [30]:
datHousingC2.head()

,crim,zn,indus,river,nox,rm,age,dis,rad,tax,pratio,lstat,medv,rivercode,Cluster
27,8.98296,0.0,18.1,Yes,0.770,6.212,97.4,2.1222,24,666,20.2,17.60,17.8,1,1
28,3.84970,0.0,18.1,Yes,0.770,6.395,91.0,2.5052,24,666,20.2,13.27,21.7,1,1
29,5.20177,0.0,18.1,Yes,0.770,6.127,83.4,2.7227,24,666,20.2,11.48,22.7,1,1
30,4.22239,0.0,18.1,Yes,0.770,5.803,89.0,1.9047,24,666,20.2,14.64,16.8,1,1
31,3.47428,0.0,18.1,Yes,0.718,8.780,82.9,1.9047,24,666,20.2,5.29,21.9,1,1

6) Repeat step 5 with 3 clusters. Do you think that adding another cluster helps to partition the data?
Why or why not?

In [31]:
# Specify the number of clusters (3) and fit the data dat_rider_feats
kmeans = KMeans(n_clusters=3, random_state=0).fit(datHousingSub)

In [32]:
centroids = (kmeans.cluster_centers_)
print(centroids)

[[2.44205703e-01 1.73764259e+01 6.70262357e+00 4.84713688e-01
  6.47416350e+00 5.61661597e+01 4.83579772e+00 4.32699620e+00
  2.75212928e+02 1.78733840e+01 9.55292776e+00 7.60456274e-02]
 [1.22991617e+01 3.01980663e-14 1.84518248e+01 6.70102190e-01
  6.00621168e+00 8.99678832e+01 2.05447007e+00 2.32700730e+01
  6.67642336e+02 2.01963504e+01 1.86745255e+01 5.83941606e-02]
 [7.47468585e-01 1.11320755e+01 1.26841509e+01 5.79169811e-01
  6.17423585e+00 7.17132075e+01 3.46240000e+00 4.77358491e+00
  4.03018868e+02 1.76500000e+01 1.25624528e+01 6.60377358e-02]]

Using the characteristics that are divergent we can name these two clusters as High Crime, Medium Crime & Low Crime Clusters.
However this is not a good help when partioned as the accuarcy has droped more than the baseline model of ours.

7) Recreate the model 2 two clusters. We will use this one going forward. Merge the cluster ids from
this 2 cluster model into the datHousing data frame using the column name Cluster to store this
cluster id. Look at the first few rows of data to verify.

In [33]:
##Use cluster no =2
df_labels = pd.DataFrame(labels)
df_labels.rename(columns={0:'Cluster'}, inplace=True)

In [34]:
df_labels.head()

   Cluster
0        0
1        0
2        0
3        0
4        0

In [35]:
# Specify the number of clusters (2) and fit the data dat_housing
#remove river for question 7
datHousing.drop(['river'], inplace = True, axis =1)
kmeans = KMeans(n_clusters=2, random_state=0).fit(datHousing)

In [36]:
datHousingClust = pd.concat([datHousing, df_labels], axis=1)

In [37]:
datHousingClust.head

<bound method NDFrame.head of          crim    zn  indus     nox     rm    age     dis  rad  tax  pratio  \
0     3.32105   0.0  19.58  0.8710  5.403  100.0  1.3216    5  403    14.7
1     1.12658   0.0  19.58  0.8710  5.012   88.0  1.6102    5  403    14.7
2     1.41385   0.0  19.58  0.8710  6.129   96.0  1.7494    5  403    14.7
3     3.53501   0.0  19.58  0.8710  6.152   82.6  1.7455    5  403    14.7
4     1.27346   0.0  19.58  0.6050  6.250   92.6  1.7984    5  403    14.7
5     1.83377   0.0  19.58  0.6050  7.802   98.2  2.0407    5  403    14.7
6     1.51902   0.0  19.58  0.6050  8.375   93.9  2.1620    5  403    14.7
7     0.13587   0.0  10.59  0.4890  6.064   59.1  4.2392    4  277    18.6
8     0.43571   0.0  10.59  0.4890  5.344  100.0  3.8750    4  277    18.6
9     0.17446   0.0  10.59  0.4890  5.960   92.1  3.8771    4  277    18.6
10    0.37578   0.0  10.59  0.4890  5.404   88.6  3.6650    4  277    18.6
11    0.21719   0.0  10.59  0.4890  5.807   53.8  3.6526    4  277    18.6
12    0.04560   0.0  13.89  0.5500  5.888   56.0  3.1121    5  276    16.4
13    0.11069   0.0  13.89  0.5500  5.951   93.8  2.8893    5  276    16.4
14    0.11425   0.0  13.89  0.5500  6.373   92.4  3.3633    5  276    16.4
15    0.35809   0.0   6.20  0.5070  6.951   88.5  2.8617    8  307    17.4
16    0.40771   0.0   6.20  0.5070  6.164   91.3  3.0480    8  307    17.4
17    0.62356   0.0   6.20  0.5070  6.879   77.7  3.2721    8  307    17.4
18    0.44791   0.0   6.20  0.5070  6.726   66.5  3.6519    8  307    17.4
19    0.52058   0.0   6.20  0.5070  6.631   76.5  4.1480    8  307    17.4
20    0.09065  20.0   6.96  0.4640  5.920   61.5  3.9175    3  223    18.6
21    0.22188  20.0   6.96  0.4640  7.691   51.8  4.3665    3  223    18.6
22    0.05644  40.0   6.41  0.4470  6.758   32.9  4.0776    4  254    17.6
23    0.10469  40.0   6.41  0.4470  7.267   49.0  4.7872    4  254    17.6
24    0.06127  40.0   6.41  0.4470  6.826   27.6  4.8628    4  254    17.6
25    0.06129  20.0   3.33  0.4429  7.645   49.7  5.2119    5  216    14.9
26    0.01501  90.0   1.21  0.4010  7.923   24.8  5.8850    1  198    13.6
27    8.98296   0.0  18.10  0.7700  6.212   97.4  2.1222   24  666    20.2
28    3.84970   0.0  18.10  0.7700  6.395   91.0  2.5052   24  666    20.2
29    5.20177   0.0  18.10  0.7700  6.127   83.4  2.7227   24  666    20.2
..        ...   ...    ...     ...    ...    ...     ...  ...  ...     ...
476   4.87141   0.0  18.10  0.6140  6.484   93.6  2.3053   24  666    20.2
477  15.02340   0.0  18.10  0.6140  5.304   97.3  2.1007   24  666    20.2
478  10.23300   0.0  18.10  0.6140  6.185   96.7  2.1705   24  666    20.2
479  14.33370   0.0  18.10  0.6140  6.229   88.0  1.9512   24  666    20.2
480   5.82401   0.0  18.10  0.5320  6.242   64.7  3.4242   24  666    20.2
481   5.70818   0.0  18.10  0.5320  6.750   74.9  3.3317   24  666    20.2
482   5.73116   0.0  18.10  0.5320  7.061   77.0  3.4106   24  666    20.2
483   2.81838   0.0  18.10  0.5320  5.762   40.3  4.0983   24  666    20.2
484   2.37857   0.0  18.10  0.5830  5.871   41.9  3.7240   24  666    20.2
485   3.67367   0.0  18.10  0.5830  6.312   51.9  3.9917   24  666    20.2
486   5.69175   0.0  18.10  0.5830  6.114   79.8  3.5459   24  666    20.2
487   4.83567   0.0  18.10  0.5830  5.905   53.2  3.1523   24  666    20.2
488   0.15086   0.0  27.74  0.6090  5.454   92.7  1.8209    4  711    20.1
489   0.18337   0.0  27.74  0.6090  5.414   98.3  1.7554    4  711    20.1
490   0.20746   0.0  27.74  0.6090  5.093   98.0  1.8226    4  711    20.1
491   0.10574   0.0  27.74  0.6090  5.983   98.8  1.8681    4  711    20.1
492   0.11132   0.0  27.74  0.6090  5.983   83.5  2.1099    4  711    20.1
493   0.17331   0.0   9.69  0.5850  5.707   54.0  2.3817    6  391    19.2
494   0.27957   0.0   9.69  0.5850  5.926   42.6  2.3817    6  391    19.2
495   0.17899   0.0   9.69  0.5850  5.670   28.8  2.7986    6  391    19.2
496   0.28960   0.0   9.69  0.5850  5.390   72.9  2.7986    6  391    19.2
497   0.26838   0.0   9.69  0.5850  5.794   70.6  2.8927    6  391    19.2
498   0.23912   0.0   9.69  0.5850  6.019   65.3  2.4091    6  391    19.2
499   0.17783   0.0   9.69  0.5850  5.569   73.5  2.3999    6  391    19.2
500   0.22438   0.0   9.69  0.5850  6.027   79.7  2.4982    6  391    19.2
501   0.06263   0.0  11.93  0.5730  6.593   69.1  2.4786    1  273    21.0
502   0.04527   0.0  11.93  0.5730  6.120   76.7  2.2875    1  273    21.0
503   0.06076   0.0  11.93  0.5730  6.976   91.0  2.1675    1  273    21.0
504   0.10959   0.0  11.93  0.5730  6.794   89.3  2.3889    1  273    21.0
505   0.04741   0.0  11.93  0.5730  6.030   80.8  2.5050    1  273    21.0

     lstat  medv  rivercode  Cluster
0    26.82  13.4          1        0
1    12.12  15.3          1        0
2    15.12  17.0          1        0
3    15.02  15.6          1        0
4     5.50  27.0          1        0
5     1.92  50.0          1        0
6     3.32  50.0          1        0
7    14.66  24.4          1        0
8    23.09  20.0          1        0
9    17.27  21.7          1        0
10   23.98  19.3          1        0
11   16.03  22.4          1        0
12   13.51  23.3          1        0
13   17.92  21.5          1        0
14   10.50  23.0          1        0
15    9.71  26.7          1        0
16   21.46  21.7          1        0
17    9.93  27.5          1        0
18    8.05  29.0          1        0
19    9.54  25.1          1        0
20   13.65  20.7          1        0
21    6.58  35.2          1        0
22    3.53  32.4          1        0
23    6.05  33.2          1        0
24    4.16  33.1          1        0
25    3.01  46.0          1        0
26    3.16  50.0          1        0
27   17.60  17.8          1        1
28   13.27  21.7          1        1
29   11.48  22.7          1        1
..     ...   ...        ...      ...
476  18.68  16.7          0        1
477  24.91  12.0          0        1
478  18.03  14.6          0        1
479  13.11  21.4          0        1
480  10.74  23.0          0        1
481   7.74  23.7          0        1
482   7.01  25.0          0        1
483  10.42  21.8          0        1
484  13.34  20.6          0        1
485  10.58  21.2          0        1
486  14.98  19.1          0        1
487  11.45  20.6          0        1
488  18.06  15.2          0        1
489  23.97   7.0          0        1
490  29.68   8.1          0        1
491  18.07  13.6          0        1
492  13.35  20.1          0        1
493  12.01  21.8          0        0
494  13.59  24.5          0        0
495  17.60  23.1          0        0
496  21.14  19.7          0        0
497  14.10  18.3          0        0
498  12.92  21.2          0        0
499  15.10  17.5          0        0
500  14.33  16.8          0        0
501   9.67  22.4          0        0
502   9.08  20.6          0        0
503   5.64  23.9          0        0
504   6.48  22.0          0        0
505   7.88  11.9          0        0

[506 rows x 14 columns]>

10) Create a regression model predicting MEDV and the same predictors as the baseline model in step 3,
using the data frame from cluster 1. Is this model significant? What are the R
2
value and MSE? Is
this higher or lower than the baseline model?

In [38]:
numerical_features=['crim','zn','indus','nox','rm','age','dis','rad','tax','pratio','lstat','medv','rivercode']

In [39]:
X = datHousingC1.drop(['river','medv'], axis=1)
y = datHousingC1['medv']

In [40]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=123)

In [41]:
# 1. Import the Estimator class you will use
from sklearn.linear_model import LinearRegression
# 2. Create an instance of the class
ml_reg = LinearRegression()
# 3. Use the fit method of the instance
ml_reg.fit(X_train, y_train)
# 4. Use the predict method to get the predictions
y_pred_ml_reg = ml_reg.predict(X_train)

In [42]:
pd.Series(ml_reg.coef_, index=X_train.columns).sort_values(ascending=False).round(2)

rm           9.22
crim         0.83
rivercode    0.72
rad          0.20
indus        0.03
zn           0.02
Cluster      0.00
tax         -0.01
age         -0.05
lstat       -0.07
pratio      -0.62
dis         -0.95
nox         -8.93
dtype: float64

In [43]:
from sklearn.metrics import mean_squared_error, r2_score
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(y_train, y_pred_ml_reg))

Mean squared error: 9.79

In [44]:
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(y_train, y_pred_ml_reg))

Variance score: 0.86

In [45]:
ml_reg.intercept_

-7.730626181917188

11) Create a regression model predicting MEDV and the same predictors as the baseline model in step 3,
using the data frame from cluster 2. What are the R
2
value and MSE? Is this higher or lower than the
baseline model?

In [46]:
numerical_features=['crim','zn','indus','nox','rm','age','dis','rad','tax','pratio','lstat','medv','rivercode']

In [47]:
X = datHousingC2.drop(['river','medv'], axis=1)
y = datHousingC2['medv']

In [48]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=123)

In [49]:
# 1. Import the Estimator class you will use
from sklearn.linear_model import LinearRegression
# 2. Create an instance of the class
ml_reg = LinearRegression()
# 3. Use the fit method of the instance
ml_reg.fit(X_train, y_train)
# 4. Use the predict method to get the predictions
y_pred_ml_reg = ml_reg.predict(X_train)

In [50]:
pd.Series(ml_reg.coef_, index=X_train.columns).sort_values(ascending=False).round(2)

indus        1.074336e+12
pratio       9.739156e+11
rivercode    1.119000e+01
age          3.000000e-02
Cluster      0.000000e+00
crim        -1.500000e-01
lstat       -8.300000e-01
rm          -1.440000e+00
dis         -3.670000e+00
nox         -3.717000e+01
zn          -9.347430e+08
tax         -8.510337e+11
rad         -1.401865e+12
dtype: float64

In [51]:
from sklearn.metrics import mean_squared_error, r2_score
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(y_train, y_pred_ml_reg))

Mean squared error: 23.41

In [52]:
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(y_train, y_pred_ml_reg))

Variance score: 0.70

In [53]:
ml_reg.intercept_

561314606003719.7

12) Summarize your findings. Do you think that clustering might improve your ability to predict the
MEDV value? If so, under what contexts or constraints?

Ans) We noticed, Clustering improved prediction based on regression model in the two cluster, we feel like clustering might improve the ability as one of the cluster has the mean squared error significantly lower compared to the baseline model and also its variance score is way higher at .86 compared to 0.76 of baseline.
However we noticed that cluster two has been minimal change in the mean squared error and its variance score.